<nav>
    <div class="top uk-animation-slide-bottom-top">
        <div class="uk-card uk-card-default uk-card-body">
            <img class="logo" src="/assets/images/macc.jpg" alt="">
        </div>
    </div>
</nav>

<div class="category">
    <h1>{{ showCategory() }}</h1>
</div>
<div class="uk-container main">
    <div *ngIf="category === 'scoreboard'">
        <table class="uk-table uk-table-small uk-table-divider">
            <thead>
                <tr>
                    <th>Category</th>
                    <th>{{team1.name}}</th>
                    <th>{{team2.name}}</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>All Around</td>
                    <td>{{team1['all-around']}}</td>
                    <td>{{team2['all-around']}}</td>
                </tr>
                <tr>
                    <td>English</td>
                    <td>{{team1['english']}}</td>
                    <td>{{team2['english']}}</td>
                </tr>
                <tr>
                    <td>Math</td>
                    <td>{{team1['math']}}</td>
                    <td>{{team2['math']}}</td>
                </tr>
                <tr>
                    <td>Science</td>
                    <td>{{team1['science']}}</td>
                    <td>{{team2['science']}}</td>
                </tr>
                <tr>
                    <td>History</td>
                    <td>{{team1['history']}}</td>
                    <td>{{team2['history']}}</td>
                </tr>
                
            </tbody>
        </table>
    </div>
    <div class="uk-child-width-expand@s uk-text-center" uk-grid *ngIf="category !== 'scoreboard'">
        <div>
            <div class="uk-card uk-card-default uk-card-body uk-animation-fade">
                <span class="uk-label label-team">Team A</span>
                <h1 class="score">
                    <input type="number" class="uk-input" [(ngModel)]="teamAScore">
                </h1>
                <h3 class="uk-card-title">
                    <input type="text" class="uk-input" [(ngModel)]="team1.name" placeholder="Team A Name">
                </h3>
                <div class="uk-child-width-expand@s score-options" uk-grid>
                    <div>
                        <button class="option uk-button-primary uk-button" (click)="add5(1)">Add 5</button>
                    </div>
                    <div>
                        <button class="option uk-button uk-button-danger" (click)="minus2(1)">Minus 2</button>
                    </div>
                </div>
            </div>
        </div>
        <div>
            <div class="uk-card uk-card-default uk-card-body uk-animation-fade">
                <span class="uk-label label-team uk-label-success">Team B</span>
                
                <h1 class="score"><input type="number" class="uk-input" [(ngModel)]="teamBScore"></h1>
                <h3 class="uk-card-title">
                    <input type="text" class="uk-input" [(ngModel)]="team2.name" placeholder="Team B Name">
                </h3>
                <div class="uk-child-width-expand@s score-options" uk-grid>
                    <div>
                        <button class="option uk-button-secondary uk-button" (click)="add5(2)">Add 5</button>
                    </div>
                    <div>
                        <button class="option uk-button uk-button-danger" (click)="minus2(2)">Minus 2</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<footer>
    <div class="footer uk-animation-slide-bottom-small">
        <div class="uk-card uk-card-default uk-card-body">
            <ul class="uk-tab-bottom uk-flex-center" uk-tab>
                <li [class.uk-active]="category == 'all-around'"><a (click)="switchCategory('all-around')">All Around</a></li>
                <li [class.uk-active]="category == 'english'"><a (click)="switchCategory('english')">English</a></li>
                <li [class.uk-active]="category == 'math'"><a (click)="switchCategory('math')">Math</a></li>
                <li [class.uk-active]="category == 'science'"><a (click)="switchCategory('science')">Science</a></li>
                <li [class.uk-active]="category == 'history'"><a (click)="switchCategory('history')">History</a></li>
                <li [class.uk-active]="category == 'scoreboard'" *ngIf="team1.name.length > 0 && team2.name.length > 0"><a (click)="switchCategory('scoreboard')">Scoreboard</a></li>
            </ul>
        </div>
    </div>
</footer>